/* header styles */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');


.header-content {
    background-color: rgba(255, 144, 14, 0.1);
    border: 1px solid;
    width: 1920px;
    height: 1322px;

}

.nav-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.nav-title {
    color: #131313;
    margin-right: 700px;
}

.nav-items {}

.nav-items a {
    text-decoration: none;
    margin-right: 10px;
    color: #424242;
    ;
}


/* banner */


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {

    justify-content: center;
    align-items: center;
}

.banner-info {
    align-items: center;
    justify-content: center;
}

.banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;

}

.banner-description {
    text-align: center;
    align-items: center;
    font-weight: 400px;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
}

.banner-img {
    width: 1440px;
    height: 700px;
    padding-top: 50px;
}

.btn {
    margin: 0;
    justify-content: center;
    height: 64px;
    left: 870px;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 5px;
    padding: 20px 25px 20px 25px;
    margin-left: 44%;
}

/* main */
.team {
    display: flex;
    /* width: 100%; */
    margin-top: 130px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 300px;
    column-gap: 5px;
    row-gap: 0;



}
.team-content{
    /* align-items: center;
    justify-content: center;
     */
    border: 2px ;
    width: 700px;
    height: 700px;
   

}

.team-description {
    margin-left: 80px;
    margin-top: 130px;
    
    padding-bottom: 300px;
} 

.title {
    text-align: left;
    font-weight: 700;
    font-size: 64px;
}

.btn-team {
    padding: 20px 25px 20px 25px;
    height: 64px;
    left: 870px;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    border-radius: 5px;

}



/* features */

.features {
    width: 1440px;
    height: 1059px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 150px;


}


.features-content {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.feature {
    border: 1px;
    border-radius: 5px;
    width: 586px;
    height: 130px;
    padding: 30px 30px 30px 30px;
    margin-top: 20px;
    


}

.features-main-title {
    border-left: 5px solid orange;
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
}

.features-content p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.features-items h2 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    ;
}

.features-image {
    width: 708px;
    height: 982px;
}

.features-head {
    width: 800px;
    height: 1059px;
}

.btn-feature {
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    border-radius: 5px;
    margin-bottom: 100px;
    position: relative;
    bottom: 150px;
}



.btn-feature p {
    font-weight: 700;
    font-size: 35px;
}


/* facts */

.facts-main {
    border: 1px;
    border-radius: 5px;
    width: 586px;
    height: 130px;
    padding: 30px 30px 30px 30px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 150px;

}

.facts-main h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts-main p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;

}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.facts-icons img {
    width: 40px;
    height: 40px;
}

.icon {
    border: 1px solid;
    width: 200.83px;
    height: 200.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 20px 20px 20px 00px;
    margin-right: 50px;
    transition: width 5s, height 5s, transform 2s;




}

.icon:hover{
    width: 250px;
    height: 250px;
    transform: rotate(-720deg) ;
    background-color: aqua;
}

.facts-icons {
    margin-left: 280px;
    margin-right: 280px;
}

.icon h1 {
    font-weight: 600;
    font-size: 45px;
}

.icon p {
    font-weight: 600;
    font-size: 20px;
}

/* sponsors */

.sponsor-section {
    text-align: center;
    margin-top: 180px;
    margin-bottom: 125px;
}

.sponsors-logo {
    display: flex;
    justify-content: space-evenly;
    padding-left: 150px;
    margin-right: 150px;
}

.sponsor-section h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor-section a {
    font-weight: 400;
    font-size: 16px;
}

.sponsors-logo img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* footer */

.copyright {
    border-radius: 8px;
    margin-left: 240px;
    background-color: rgba(255, 144, 14, 0.1);
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 250px;
}